@import "vars";

.admin-header {
  padding: 0 20px;
  background: $bgMain;
  border-bottom: $borderGray;
  @extend %clearfix;
  h1 {
    line-height: 50px;
  }
}

.tab-nav {
  float: left;
  position: relative;
  top: 1px;
  .admin-tab {
    float: left;
    height: 34px;
    line-height: 34px;
    padding: 0 15px;
    margin-right: 4px;
    border: $borderGray;
    border-bottom: 0;
    @include noselect;
    &:hover {
      background-color: $bgWhite;
    }
    &.active {
      background-color: $bgWhite;
    }
  }
}

.user-log {
  float: right;
  span {
    padding-right: 10px;
  }
}

.admin-container {
  padding: 40px 20px 80px;
  @extend %clearfix;
}

.admin-footer {
  height: 39px;
  background-color: $bgMain;
  border-top: $borderGray;
  span {
    padding-left: 20px;
  }
}

.main-admin-table {
  width: 100%;
  border-collapse: collapse;
  th {
    padding: 2px 10px;
    color: #fff;
    background: url("images/thead.png");
    border: $borderDark;
    text-align: left;
  }
  tr {
    &:nth-child(odd) {
      background-color: #fff;
    }
    &:nth-child(even) {
      background-color: #e4e5ef;
    }
  }
  td {
    padding: 5px 10px;
    border: $borderGray;
    vertical-align: top;
  }
}

.table-edit {
  display: block;
  width: 18px;
  height: 18px;
  margin: auto;
  overflow: hidden;
  background: url("images/icon-edit.png") no-repeat center;
  background-size: contain;
  border-radius: 50%;
  text-indent: -9999px;
}

.table-delete {
  display: block;
  width: 18px;
  height: 18px;
  margin: auto;
  overflow: hidden;
  background: url("images/icon-delete.png") no-repeat center;
  background-size: contain;
  border-radius: 50%;
  text-indent: -9999px;
}