//snippet media variables
@mixin respond-to($size) {
  @if $size == iPadLandscape {
    @media (max-width: 1024px) {
      @content;
    }
  } @else if $size == androidLandscape {
    @media (max-width: 960px) {
      @content;
    }
  } @else if $size == iPadPortrait {
    @media (max-width: 768px) {
      @content;
    }
  } @else if $size == androidPortrait {
    @media (max-width: 600px) {
      @content;
    }
  } @else if $size == mobileLandscape {
    @media (max-width: 480px) {
      @content;
    }
  } @else if $size == mobilePortrait {
    @media (max-width: 320px) {
      @content;
    }
  } @else if $size == tv {
    @media (min-width: 1600px) {
      @content;
    }
  }
}

//snippet responsive grid
$direction: ltr !default;

//NOTE: do not change this conditional statement!!!
$default-float: left !default;
$opposite-direction: right !default;

@if $direction == ltr {
  $default-float: left;
  $opposite-direction: right;
} @else {
  $default-float: right;
  $opposite-direction: left;
}

//snippet grid variables
$pageWidth: 960px !default;
$columnGutter: 30px !default;
$totalColumns: 12 !default;

//snippet grid Function
@function gridCalc($colNumber, $totalColumns) {
  @return percentage($colNumber / $totalColumns);
}

//snippet grid holder mixin
@mixin grid-row($behavior: false) {
  position: relative;
  @if $behavior == nest {
    width: auto;
    margin-#{$default-float}: -($columnGutter / 2);
    margin-#{$opposite-direction}: -($columnGutter / 2);
    max-width: none;
  } @else if $behavior == collapse {
    width: 100%;
    margin: 0;
  } @else if $behavior == nest-collapse {
    width: auto;
    margin: 0;
    max-width: none;
  } @else {
    width: 100%;
    margin-#{$default-float}: auto;
    margin-#{$opposite-direction}: auto;
  }
  //fixme @include clearfix();
}

//snippet grid columns mixin
@mixin grid-column($columns: false, $lastColumn: false, $center: false, $offset: false, $push: false, $pull: false, $collapse: false, $float: true) {
  @if $collapse {
  } @else if $collapse == false {
    padding-left: $columnGutter / 2;
    padding-right: $columnGutter / 2;
  }
  @if $columns {
    width: gridCalc($columns, $totalColumns);
    @if $lastColumn {
      float: $opposite-direction;
    }
  }
  @if $offset {
    margin-#{$default-float}: gridCalc($offset, $totalColumns);
  }
  @if $push {
    #{$default-float}: gridCalc($push, $totalColumns);
    #{$opposite-direction}: auto;
  }
  @if $pull {
    #{$opposite-direction}: gridCalc($pull, $totalColumns);
    #{$default-float}: auto;
  }
  @if $center {
    margin-#{$default-float}: auto;
    margin-#{$opposite-direction}: auto;
    float: none !important;
  }
  @if $float {
    @if $float == left or $float == true {
      float: $default-float;
    } @else if $float == right {
      float: $opposite-direction;
    } @else {
      float: none;
    }
  }
  box-sizing: border-box;
  -moz-box-sizing: border-box;

  //snippet grid for devices
  @include respond-to(androidPortrait) {
    width: 100%;
  }
}
