@import "vars";

html, body {
  width: 100%;
  height: 100%;
  margin: 0;
}

body {
  line-height: 1.5em;
  font-size: $baseFontSize;
  font-family: $ubuntu;
}

a {
  color: $mainLink;
  cursor: pointer;
  @include transition;
  &:hover {
    text-decoration: none;
  }
}

.page {
  min-height: 100%;
  margin: 0 0 -40px;
}

.page-frame {
  position: relative;
  max-width: $pageWidth;
  height: 100%;
  margin: auto;
  @include respond-to(androidLandscape) {
    padding: 0 emCalc(15px);
  }
}

.page-header {
  height: 100px;
  background: $bgMain;
  border-bottom: $borderGray;
}

.page-container {
  padding-bottom: 40px;
  @extend %clearfix;
}

.page-footer {
  height: 39px;
  background-color: $bgMain;
  border-top: $borderGray;
}

//snippet forms
.field-holder {
  position: relative;
  margin-bottom: 5px;
}

.text-field {
  @include fieldFrame;
}

.text-area {
  @include fieldFrame($height: 150px);
  resize: vertical;
}

.btn-gray {
  @include button(28, $color: btnGray) {
  }
}