@import "vars";

h1, h2, h3, h4, h5 {
  margin: 0;
  cursor: default;
  font-weight: 700;
}

dl, dt, dd, figure {
  margin: 0;
}

label {
  cursor: pointer;
}

img {
  display: block;
  border: 0;
  max-width: 100%;
  -ms-interpolation-mode: bicubic;
}

a {
  text-decoration: none;
  &:focus {
    outline: none;
  }
}

button {
  -webkit-appearance: button;
  cursor: pointer;
}

button[disabled], html input[disabled] {
  cursor: default;
  opacity: 0.8;
}

button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

input[type="text"], input[type="email"], input[type="search"], textarea {
  -webkit-appearance: none;
}

svg:not(:root) {
  overflow: hidden;
}

//snippet global clearfix "this snippet can't not be place into _vars file"
%clearfix {
  &:after {
    display: block;
    visibility: hidden;
    clear: both;
    height: 0;
    content: ".";
  }
}

.clearfix {
  @extend %clearfix;
}
