@import "vars";

.page-header {
  h1 {
    padding-top: 35px;
  }
}

.navigation {
  float: right;
  a {
    float: left;
    padding: 0 5px;
    border-left: $borderGray;
    &:first-child {
      border-left: 0;
    }
  }
}

h2 {
  padding: 15px 0;
}

.create-new {
  display: block;
  border-bottom: $borderGray;
  margin-bottom: 10px;
}

.post-block {
  @include grid-row($behavior: nest);
  @extend %clearfix;
}

.post {
  @include grid-column(4);
  margin-bottom: emCalc(30px);
  @include respond-to(androidLandscape) {
    @include grid-column(6);
  }
  @include respond-to(mobileLandscape) {
    @include grid-column(12);
  }
}

.post-inner {
  position: relative;
  min-height: 120px;
  padding: 5px 5px 25px;
  background-color: $bgMain;
  border: $borderGray;
}

.post-title {
  color: #000000;
}

.post-body {
  padding: 15px 0;
}

.post-controls {
  position: absolute;
  right: 5px;
  bottom: 5px;
  height: 20px;
  a {
    padding-left: 5px;
    text-transform: capitalize;
  }
}

//pagename GRID

.grid-parent {
  margin: 15px 0;
  text-align: center;
  [class*="grid-"] {
    height: 50px;
    background-color: $bgMain;
    border: $borderGray;
  }
  .grid-1 {
    @include grid-column(12);
  }
  .grid-2 {
    @include grid-column(6);
  }
  .grid-3 {
    @include grid-column(4);
  }
  .grid-4 {
    @include grid-column(3);
  }
  .grid-5 {
    @include grid-column(2.4);
  }
  .grid-6 {
    @include grid-column(2);
  }
  .grid-8 {
    @include grid-column(1.5);
  }
  .grid-10 {
    @include grid-column(1.2);
  }
  .grid-12 {
    @include grid-column(1);
  }
  @extend %clearfix;
}

.form-box {
  width: 350px;
  padding: 20px 0;
  @include respond-to(androidPortrait) {
    width: 100%;
  }
}

.copyright {
  line-height: 39px;
}

//pagename MODERN GRID

.grid-holder {
  position: relative;
  display: table;
  width: 100%;
  background: #f5f5ff;
}

.grid-scroll {
  //fixme implement ability to switch on/off
  position: relative;
  height: 200px;
  overflow-y: auto;
}

.grid-row {
  display: table-row;
}

.grid-header {
  display: table-header-group;
  background: #7effcf;
}

.grid-body {
  display: table-row-group;
}

.grid-cell {
  display: table-cell;
  @include boxSizing();
  padding: 10px;
  &:nth-child(1) {
    width: 20%;
  }
  &:nth-child(2) {
    width: 20%;
  }
  &:nth-child(3) {
    width: auto;
  }
  &:nth-child(4) {
    width: 10%;
    text-align: center;
  }
  &:nth-child(5) {
    width: 10%;
    text-align: center;
  }
}
