.modal-on body {
  overflow: hidden;
}

.modal-context {
  width: 100%;
  height: 100%;
  overflow: auto;
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.8);
}

.xmodal-overlay {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  right: 0;
}

.modal-container {
  position: absolute;
  top: 50%;
  left: 50%;
  border: 1px solid #007acb;
  background: #FFF;
  box-shadow: 1px 1px 7px 1px rgba(0, 0, 0, 0.7);
}

.modal-close {
  color: #999;
  position: absolute;
  width: 30px;
  height: 26px;
  top: 0;
  right: 0;
  text-align: center;
  cursor: pointer;
  &:after {
    content: "X";
  }
  &:hover {
    background: #e1e1e1;
    color: #000;
  }
}

.modal-title {
  font-weight: 700;
  font-size: 12px;
  padding: 0 5px;
}

.modal-content {
  padding: 10px;
  overflow: auto;
  margin: 0;
}