@import "grid";

//snippet typography
$baseFontSize: 14px !default;

@function emCalc($pxWidth) {
  @return ($pxWidth / $baseFontSize) * 1em;
}

$ubuntu: 'Ubuntu', sans-serif;

//snippet global mixins
@mixin transition($type: all, $transTime: 200ms) {
  transition: $type $transTime ease;
}

@mixin verticalAlign($block: inline-block, $alignPos: middle) {
  display: $block;
  vertical-align: $alignPos;
}

@mixin boxSizing($type: border-box) {
  box-sizing: $type;
  -moz-box-sizing: $type;
}

@mixin ellipsis {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

@mixin noselect {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

@mixin bgGradient($fromColor, $toColor) {
  background-image: -webkit-linear-gradient($fromColor 0%, $toColor 100%);
  background-image: linear-gradient($fromColor 0%, $toColor 100%);
  background-color: $fromColor;
}

@mixin fieldFrame($height: 28px, $width: 100%, $padding: 5px) {
  @include verticalAlign;
  width: $width;
  height: $height;
  @if $padding == false{
  } @else {
    padding: $padding;
  }
  border: 1px solid #d7d7d7;
  border-radius: 2px;
  font-family: $ubuntu;
  @include boxSizing;
  &:focus {
    outline: 0;
    box-shadow: none;
  }
}

@mixin button($height: false, $color: false, $gradient: false) {
  $btnGray: #f5f5f5;
  $borderGray: #d7d7d7;
  $btnRed: #eec2c2;
  $borderRed: #bb7575;
  $btnGreen: #c4e4c3;
  $borderGreen: #77bc75;
  @if $height == false{
    line-height: 1.5em;
  } @else if $height {
    height: nth($height, 1) + px;
    line-height: nth($height, 1) - 2 + px;
  }
  @if $color {
    @if $color == false{
    } @else if $color == btnGray {
      background-color: $btnGray;
      border: 1px solid $borderGray;
    } @else if $color == btnRed {
      background-color: $btnRed;
      border: 1px solid $borderRed;
    } @else if $color == btnGreen {
      background-color: $btnGreen;
      border: 1px solid $borderGreen;
    }
  }
  padding: 0 15px;
  margin: 0;
  border-radius: 2px;
  @include verticalAlign;
  @include boxSizing;
  @include transition;
  @content;
  &:hover {
    /*@if $color {
          @if $color == false{
          } @else if $color == btnGray {
            background-color: $btnGray;
          } @else if $color == btnRed {
            background-color: $btnRed;
          } @else if $color == btnGreen {
            background-color: $btnGreen;
          }
        }*/
  }
}

//snippet colors
$mainLink: #0066bb;

$bgMain: #ece9e9;
$bgWhite: #ffffff;

//snippet project styles
$borderGray: 1px solid #d7d7d7;
$borderDark: 1px solid #272727;