<% layout('../layoutadmin') %>

<table class="main-admin-table" id="posts">
    <thead>
    <tr>
        <th style="width: 300px;">Name</th>
        <th>Description</th>
        <th style="width: 200px;">Date</th>
        <th style="width: 40px;">Edit</th>
        <th style="width: 40px;">Delete</th>
    </tr>
    </thead>
    <tbody>
    <% posts.forEach( function(post){ %>
    <tr>
        <td><%= post.title %></td>
        <td><%= post.body %></td>
        <td><%= post.created_at %></td>
        <td><a href="/blog/edit/<%= post.id %>" data-modal="{ closeOnEscape: false }" class="table-edit">Edit</a></td>
        <td><a href="/blog/delete/<%= post.id %>" class="table-delete">Delete</a></td>
    </tr>
    <% }); %>
    </tbody>
</table>