<h1><%= title %></h1>
<nav class="navigation">
    <a href="/">Home</a>
    <a href="/admin/">Admin Panel</a>
    <a href="partials/modalcontent/" data-modal="{ closeOnEscape: false }">Open Modal</a>
</nav>