<% layout('layout') %>

<h2>Welcome to <%= title %></h2>

<a href="/blog/create" class="create-new">Create new post</a>

<section id="posts" class="post-block">
    <% posts.forEach( function( post ){ %>
    <div class="post">
        <article class="post-inner">
            <h1><a href="/blog/<%= post.id %>" class="post-title"><%= post.title %></a></h1>

            <div class="post-body"><%= post.body %></div>
            <time datetime="<%= post.created_at %>" class="created_at"><%= post.created_at %></time>
            <div class="post-controls">
                <a href="/blog/edit/<%= post.id %>">edit</a>
                <a href="/blog/delete/<%= post.id %>">delete</a>
            </div>
        </article>
    </div>
    <% }); %>
</section>