<!DOCTYPE html>
<html lang="en">
<head>
    <title><%= title %></title>
    <% include partials/head.ejs %>
</head>

<body>

<div class="page">
    <header class="page-header">
        <div class="page-frame">
            <% include partials/header.ejs %>
        </div>
    </header>

    <div class="page-container">
        <div class="page-frame">
            <%- body %>
        </div>
    </div>
</div>

<footer class="page-footer">
    <div class="page-frame">
        <span class="copyright">Node Express Template 2013</span>
    </div>
</footer>

<% include partials/scripts.ejs %>
</body>
</html>
