<!DOCTYPE html>
<html lang="en">
<head>
    <title><%= title %></title>
    <% include partials/head.ejs %>
</head>

<body>

<div class="page">
    <header class="admin-header">
        <h1><%= title %></h1>
        <nav class="tab-nav">
            <a class="admin-tab active">Home</a>
            <a class="admin-tab">Users</a>
            <a class="admin-tab">Comments</a>
            <a class="admin-tab">Settings</a>
        </nav>
        <a href="/" class="user-log"><span>Your Name</span>Log out</a>
    </header>

    <div class="admin-container">
        <%- body %>
    </div>
</div>

<footer class="admin-footer">
    <span class="copyright">Node Express Template 2013</span>
</footer>

<% include partials/scripts.ejs %>
</body>
</html>
