<% layout('../layout') %>
<form method="post">
    <div class="form-box">

        <label for="editBlogTitle">Title:</label>
        <div class="field-holder">
            <input type="text" name="title" class="text-field" id="editBlogTitle" required="required"/>
        </div>

        <label for="editBlogBody">Body:</label>
        <div class="field-holder">
            <textarea name="body" rows="20" class="text-area" id="editBlogBody" required="required"></textarea>
        </div>

        <div id="editBlogSubmit">
            <button type="submit" class="btn-gray">Send</button>
        </div>
    </div>
</form>

