<% layout('../layout') %>

<form method="post" action="/blog/edit">
    <div class="form-box">
        <input type="hidden" name="id" value="<%= post.id %>"/>

        <label for="editBlogTitle">Title:</label>
        <div class="field-holder">
            <input type="text" name="title" class="text-field" id="editBlogTitle" value="<%= post.title %>"
                   required="required"/>
        </div>

        <label for="editBlogBody">Body:</label>
        <div class="field-holder">
            <textarea name="body" class="text-area" id="editBlogBody" required="required"><%= post.body %></textarea>
        </div>

        <div id="editBlogSubmit">
            <button type="submit" class="btn-gray">Send</button>
        </div>
    </div>
</form>

